// Define breakpoints
$tablet-bp: 600px;
$laptop-bp: 800px;

// Define margin & grid gap sizes
$lg-space: 20px;
$sm-space: 10px;

// Define handy mixins for media queries

// Responsive mixins 
// Bootstrap breakpoints

@mixin tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }
  
  @mixin large{
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }

  $dark-brown: #54400C;
  $dark-brown-2: #6E5624;
  $light-brown: #A96D2C;
  $light-brown-2: #C68744;
  $dark-green: #104908;
  $light-green: #2B6020;
  $orange: #C78744;
  $beige: #F9E5C4;

