@use 'common' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(255, 0, 0, .2);

    @include tablet {
        background-color: rgba(0, 255, 0, .2);
    }

    @include desktop {
        background-color: rgba(0, 0, 255, .2);
    }
    
  
}

body{
  content:"";
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: 
   url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 64 64' width='64' height='64'><path d='M0 48 L0 64 L32 16 L64 64 L64 48 L32 0 Z' fill='rgb(4, 48, 4)' /></svg>") 0 100px,
   url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 64 64' width='64' height='64'><path d='M0 48 L0 64 L32 16 L64 64 L64 48 L32 0 Z' fill='rgb(4, 48, 4)' /></svg>") 0 50px
   rgb(2, 41, 4);
  background-size:200px 170px;
}


.App {
    text-align: center;
    margin: 0 ;
    width: 100%;
    // background-image: url("../public/Transparent.png");
    // // background-image: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
    // background-repeat: repeat;
    // background-size: contain;
    padding-bottom: 1rem;

  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  