@use '../common' as *;


.ClubAdminView{

    .container{
    background-color: $beige;
    border: 0.5rem solid $light-brown;
    }

.AddMeetingArea{
    margin-top: 4%;
    padding-top: 1rem;
    
}

.AddPollArea{
    margin-top: 4%;
    padding-top: 1rem;
}

h2{
    font-family: 'Safira March Personal Use';
    font-size: 0.9rem;
}

.newPollHeader{
    line-height: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-right: 2rem;
}
}
