.contactContainer{
    width: 800px;
    background-color: bisque;
    margin: auto;
    margin-top: 50px;
}



  .form-check-input:checked {
    border-color: rgb(57, 81, 28);
    background-color: rgb(57, 81, 28);
  }

  .sendButton{
    margin-top: 13px;
    height: 30px;
    width: 80px;
    font-size: 18px;
  }

 
 .ContactView h3, h1{
    text-align: center;
    font-family: "Safira March Personal Use";
    font-size: 2rem;
 }

  .contactOptions{
    font-size: 18px;
    margin-top: 40px;
  }

 /* .contact-input{
  margin-bottom: 5px;
 } */

 .contact-label{
  margin-top: 5px;
 }

 #exampleFormControlTextarea1{
  margin-bottom: 5px;
 }

  