.EditProfile .title{
    color: rgb(170, 139, 86);
    font-size: 18px;
}

.EditProfile .container{
    background-color: bisque;
margin-top: 20px;

}


.form-group label{
    color: white
}

.EditProfile form .inputs{
    text-align: left 
}

.EditProfile .save{
    font-size: 16px;
}

.EditProfile .heart {
    color: red;
    font-size: 1.3rem;
    display: block
}

.EditProfile .favoritebtn {
    vertical-align: middle;
}

.EditProfile .card-body div {
    display: inline-block
}

.EditProfile .exit{
    font-size: 0.9rem;
    margin-bottom: 0
}

.add-button {
    height: 40px;
    font-size: 18px !important;
    margin: auto;
    text-align: center;
}