.EditProfile .title{
    color: rgb(170, 139, 86);
    font-size: 18px;
}

.EditProfile {
    background-color: bisque;
margin-top: 20px;
border: 0.5rem solid #A96D2C;
  margin-top: 2rem;

}

.myClubsCards{
    width: 35%;
    height:10rem;
    margin: auto;

}

.EditProfile .card-img{
width: 100%;
}

.EditProfile .h5{
    line-height: 1.7rem;
    font-size: 0.6rem;
}

.EditClubDetails{
      text-align: center;
        display:flex;
        flex-direction: column;
        margin-top: 10px;
        margin: auto;
        width: 80%;
        background-color: rgb(240, 235, 206, 0.9);
        border-radius: 15px;
        padding: 10px;
        
}

.EditProfile .exit{
    font-size: 1rem;
    margin-bottom: 0;
    width: 45%;
    height: 30%;
    margin: auto;
    


    
}

.EditProfile .btn-sm{
    width: 16rem;
    height: 2rem;
    font-size: 1rem;
    margin: auto;
    text-align: center;
}

.wantMoreLabel{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-family: 'Prata', serif;
}


.form-group label{
    color: white
}

.EditProfile form .inputs{
    text-align: left 
}

.EditProfile .save{
    font-size: 16px;
}

.EditProfile .heart {
    color: red;
    font-size: 1.3rem;
    display: block
}

.EditProfile .favoritebtn {
   
    margin-top: 1rem;
    
}

.EditProfile .card-body div {
    display: inline-block
}



#book-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    aspect-ratio: 1 / 1.5;
    margin:auto;
    padding: 7px;
}


.myBooksCard{
    height: 5rem;
    width: 12rem;
    background-color: white;
    border: 1px solid  #AA8B56;
}

.EditProfile .card-title{
    font-size: 1.2rem;
    line-height: 1.3rem;
}

.EditProfile .card-text{
    font-size: 0.8rem;
    line-height: 1.3rem;
}