@use '../common' as *;

.ErrorView{
background-color: $beige;
border: 0.5rem solid $light-brown;
margin-top: 2rem;
}

.errorIcon{
    height: 200px;
    width: 200px;
}

.errorButton{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 2rem;
    width: 12rem;
    
}