body{
    background-color: rgb(57, 81, 68)
}

img{
    width: 400px;
    height: 300px;
    margin-bottom: 50px;
}

h1{
    color: rgb(240, 235, 206);
    margin: 20px;
    padding-top: 20px;
}

.clubCarousel, .favoriteBooks {
    background-color: rgb(170, 139, 86);
}

.btn {
    font-size: 30px;
    margin-bottom: 20px;
    
}

.buttonArea{
    background-color: rgb(170, 139, 86);
}