@use '../common' as *;

.homePage{

.buttonArea{
img {
  width: 70%;
  height: 70%;
  margin-bottom: 3rem;

}

h2{
  color: $dark-green;
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin: 0 2rem 1.5rem;
  font-family: "'Montserrat', sans-serif"

}

h1{
  font-weight: bold;
  font-size: 2rem;
}
}

.clubCarousel,
.topBooks,.buttonArea {
  background-color: $beige;
  border: 0.5rem solid $light-brown;
  margin-top: 2rem;
}

.btn {
  font-size: 30px;
  margin-bottom: 20px;
}

.buttonArea {
  background-color: $beige;
}

.btn-responsive {
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: rgb(57, 81, 68);
  border-color: rgb(57, 81, 68);
}
}