@use '../common' as *;


img {
  width: 400px;
  height: 300px;
  margin-bottom: 50px;
}





.clubCarousel,
.topBooks,.buttonArea {
  background-color: $beige;
  border: 0.5rem solid $light-brown;
  margin-top: 2rem;
}

.btn {
  font-size: 30px;
  margin-bottom: 20px;
}

.buttonArea {
  background-color: $beige;
}

.btn-responsive {
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: rgb(57, 81, 68);
  border-color: rgb(57, 81, 68);
}
