body {
  background-image: url("https://i.pinimg.com/originals/9b/ed/e2/9bede21da7861bdad0a7191e571bda68.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 400px;
  height: 300px;
  margin-bottom: 50px;
}

h1 {
  color: bisque;
  margin: 20px;
  padding-top: 20px;
  color: rgb(170, 139, 86);
}

.clubCarousel,
.topBooks {
  background-color: bisque;
}

.btn {
  font-size: 30px;
  margin-bottom: 20px;
}

.buttonArea {
  background-color: bisque;
}

.btn-responsive {
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: rgb(57, 81, 68);
  border-color: rgb(57, 81, 68);
}
