.FullProfile{
    background-color: bisque;
    margin: auto;
}

.ProfileView h1{
    font-size: 40px;
}


.UserInfo{
    color: black;
    margin: auto;
}
.list-group{
    margin: auto;
}


.list-group-item{
    width: 40%;
    margin: auto;
}

.ProfileView h2{
    color: black;
    text-align: center;
}

.ProfileView .edit{
    width: 4rem;
    height: 2rem;
    font-size: 16px;
    margin: auto 20px 20px;
   
}

.ProfileView .clubCards{
    display: flex;
    margin: auto 0px 10px;
    height: 6rem;
    width: 18rem;
    
}

.ProfileView .card-title{
    text-align: center;
    margin: auto;
    
}




.ProfileView .heart {
    color: red;
    padding: 5px
}

.ProfileView .heart {
    color: red;
    font-size: 1.3rem;
    display: block;
    opacity: 1
}

.ProfileView .favoritebtn:disabled {
    vertical-align: middle;
    opacity: 1;
    border:none;

}

.ProfileView .card-body div {
    display: inline-block
}
