.container-register{
    background-color: bisque;
    width: 40%;
    margin: auto;
    margin-top: 50px;
}

.register-button{
    width: 130px;
    height: 30px;
    font-size: 14px;
    margin-top: 10px;
}



.registerInputsFields{
    width: 70%;
    margin: auto;
}