@use '../common' as *;

.SignUp{

    background-color: $beige;
    border: 0.5rem solid $light-brown;

    width: 90%;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem 0;

    @include tablet{
        width: 70%;
    }
    
    @include desktop{
        width: 40%;
    }
    
    .btn{
        font-size: 1rem;
        margin: 2rem 1rem 0 1rem;
    }
    
    .signup-button{
        margin-bottom:1rem;
        margin-top: 0.2rem;
    }

    h2{
        color: $dark-green;
        font-size: 1.7rem;
        font-weight: bold
    }

    p{
        padding-top: 1.5rem;
        color: $dark-green;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .loginInputsFields{
        width: 70%;
        margin: auto;
    }
    label, p{
        font-size: 1.1rem;
        margin-top: 1rem;
    }
    .registerInputsFields{
        width: 70%;
        margin: auto;
    }

    }
    







