#header-image {
  object-fit: cover;
  max-height: 250px;
  opacity: 0.7;
}

#book-cover-img {
  max-width: 175px;
  height: auto;
}

.SingleClubView {
  color: bisque;
}

.card-text {
  color: black;
}

.user {
  color: bisque !important;
  border-color: bisque !important;
}
