#header-img {
  object-fit: cover;
  opacity: 0.5;
}

#book-cover-img {
  max-width: 175px;
  height: auto;
}

.SingleClubView {
  color: bisque;
}

.card-text {
  color: black;
}

.user {
  color: bisque !important;
  border-color: bisque !important;
}
