@use '../common' as *;

.SingleClubView{
  background-color: $beige;
  border: 0.5rem solid $light-brown;
  
  

.club-category{
  text-transform: capitalize;
}

 .card-img-overlay{
  background-color: rgba(255, 228, 196, 0.8);
width: 70%;
height: 70%;
margin: auto;

  
}

 .card-title{
  color: black;
  margin-top: 0px;
  
}

.memberList{
  color: black;
}

#header-img {
  object-fit: cover;
  border-radius: 0;
  opacity: 0.5;
}

#book-cover-img {
  max-width: 175px;
  height: auto;
}

.card-title{
  font-size: 2.7rem;
  color: $dark-green;
  font-weight: bold;
  text-transform: capitalize;
}
.card-text {
  color: black;
  font-size: 14px;
}


.new-button {
  // width: 100px;
  height: 40px;
  font-size: 18px !important;
  margin: auto;
  text-align: center;
}
}