@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel {
  margin-bottom: 20px;
  width: 900px;
}

.carouselContainer {
  margin: auto;
  align-items: center;
}

.carousel-inner {
  padding-bottom: 20px;
  width: 900px;
}

.carouselCard {
  width: 300px;
  height: 170px;
}

/* Antonia: still needs TLC for diff screen sizes & transition */

.carousel-item {
  background-repeat: no-repeat;

  transition: all 0.5s ease-in-out !important;

  width: 1200px;
  height: 150px;
}

img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.card-img {
  background-repeat: no-repeat;
  object-fit: contain;
  width: 100%;
  height: 100%;
  /* margin: auto 20px; */
}

.card-img-overlay {
  text-align: center;
  display: block;
}

.clubName {
  text-align: center;
  display: inline-block;
  margin: 60px auto 0 auto;
  font-size: 25px;
  background-color: rgb(240, 235, 206, 0.9);
  color: rgb(170, 139, 86);
  border-radius: 15px;
  padding: 7px;
}

/* carousel controls */
.carousel-control-prev {
  width: 50px;
  height: 50px;
  padding-right: 30px;
  margin: auto;
  font-size: 50px;
  font-weight: bold;
}

.carousel-control-next {
  width: 50px;
  height: 50px;
  padding-left: 30px;
  margin: auto;
  font-size: 50px;
  font-weight: bold;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}
