@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel{
margin-bottom: 20px;
}

.carousel-inner{
padding-bottom: 20px;
}
/* .container{
    width: 1500px;
    height: 200px; 
} */


.carouselCard{
    width: 350px;
    height: 200px;

}

.carousel-item{
    width: 100%;
    height: 100%;
    gap: 7.5rem;
}

.card-img{
    object-fit: cover;
    width: 100%;
    height: 100%
}

.card-img-overlay{
    text-align: center;
    display: block;
    /* margin: auto; */
    /* font-size: 40px;
    padding: 60px; */
    /* background-color: blue; */
    object-fit: cover;

}

.clubName{
    text-align: center;
    display: inline-block;
    margin: 60px auto 0 auto;
    font-size: 25px;
    background-color: rgb(240, 235, 206, 0.9);
    color: rgb(170, 139, 86);
    border-radius: 15px;
    padding: 7px;
    
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}