@use '../common' as *;

.ClubBookshelf .container{
    color: black;
    margin: 3rem auto;

    .row{
        align-items: center;
    }

    .card-group{
        margin: 0 auto;
        width: 100%
    }

    .bookshelfname{
        font-weight: bold;
        margin: 2rem 0;
    }
    .card-title{
        font-size: 1.2rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }
    .card{
        display: inline-block;
        border: 0.3rem solid $dark-brown-2;
        width: 50%;
        margin: 1rem auto 0;
        
        


        @include tablet{
            width: 80%;
        }
       
    }
.empty-message{
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5rem;
}
}

