.info-bg {
    background-color: white;
    opacity: 0.8;
    /* text-align: left; */
    /* padding-left: 10px; */
}

.card:hover .info-bg {
    opacity: 1;
    background-color: white;
    color: black;
}




.card-img-top {
    height: 100%;
    width: 100%;
    object-fit:cover;
    
}





.info-button{
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin: auto;
    text-align: center;
}

