.CreateClubContainer{
    text-align: center;

}

form{
    width: 200px;
    margin: auto;
}

label{
    margin-right: 10px;
  
}

input{
    
}

.CreateClubH{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}