@use '../common' as *;
 .nav-item, .nav-link {
  display: inline-block;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: $dark-green;
  text-align: right;
  
} 

.img-responsive{
  width: 100px;
  height: 70px;
  margin: auto;
}


.navbar{
  background-color: $beige;
  border-bottom: 0.2rem solid $dark-green
}

.navbar-toggler{
  color: rgb(57, 81, 68);
  border-color: rgb(57, 81, 68);
}

.navbar-toggler-icon{
  color: rgb(57, 81, 68);
}

