 .nav-item, .nav-link {
  display: inline-block;
  list-style: none;
  font-family: 'Safira March Personal Use';
  font-size: 0.8rem;
  color:rgb(57, 81, 28);
  text-align: right;
  
} 

.img-responsive{
  width: 80px;
  height: 65px;
  margin: auto;
}

.navbar{
  background-color: bisque;
}

.navbar-toggler{
  color: rgb(57, 81, 68);
  border-color: rgb(57, 81, 68);
}

.navbar-toggler-icon{
  color: rgb(57, 81, 68);
 
}

