.bookshelfname{
  font-size: 26px;
  text-decoration: underline;
}

.col{
margin-bottom: 10px;
}

.card {
    display: inline-flex;
    margin: 0px auto;
    
  }

  .card-img-top {
    padding-top:10px;
    object-fit: contain;
    height: 70%;
   
  }

  .bookCard{
    height: 100%;
    width: 80%;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
  }

  h2, .card-title{
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
  }
  